<div class="marcador">
    <div class="logo">
        <img [src]="equipoLocal.logo" alt="">
    </div>
    <div class="puntos">
        <span>{{puntosLocales}}</span>
        <img src="/assets/img/logo.png" alt="logo AFA" width="70px" height="120px">
        <span>{{puntosVisitantes}}</span>
    </div>
    <div class="logo">
        <img [src]="equipoVisitante.logo" alt="">
    </div>
</div>
<div class="equipos">
    <app-equipo class="equipo" 
                [equipo]="equipoLocal"
                (arco)="getArcoLocal($event)"></app-equipo>
    <app-equipo class="equipo" 
                [equipo]="equipoVisitante"
                (arco)="getArcoVisitante($event)"></app-equipo>
</div>
<app-goleador [equipoLocal]="equipoLocal"
                [equipoVisitante]="equipoVisitante">
</app-goleador>
